@font-face {
    font-family: "Monocraft";
    src: url(./fonts/Monocraft.ttf) format("truetype");
    font-style: normal;
}

h1{
    font-family: 'monocraft';
    word-spacing: -70px;
    margin-left: 44%;
    font-size: 1000%;
}

h2{
    font-family: 'monocraft';

    margin-left:80%;
    font-size: 200%;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

button{
    position: fixed;

    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.3);
    border: 0px solid rgba(0, 0, 0, 0.3);
    
    top: 0px;
    left: 0px;

    width: 90px;
    height: 30px;
}